.grid-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 54px 1fr;
  grid-template-areas: "header commands" "sidenav main";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #fff;
  padding: 6px 0px 6px 10px;
  display: flex;
}

.commands {
  grid-area: commands;
}

.main {
  grid-area: main;
  background-color: #faf9f8;
  overflow: auto;
  padding: 20px;
}

.sidenav {
  grid-area: sidenav;
  background-color: #fff;
  padding: 25px;
}

.title-icon {
  font-size: 44px;
  margin-right: 8px;
  color: #0078d4;
}